body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #6187e9;
}

.link {
  text-decoration: none;
}

.title {
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}
