.sign {
  padding: 35px;
}

.container {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.sign__title {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 23px;
  text-align: center;
  margin: 0 0 50px 0;
}

.form-label {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  color: #354665 !important;
}

.form-control {
  margin-bottom: 25px !important;
  padding: 11px !important;
}

.form-select {
  margin-bottom: 25px !important;
}

.form-check-input {
  margin-bottom: 25px !important;
}

.form-control::placeholder {
  font-size: 14px !important;
  line-height: 18px !important;
  color: #718bae !important;
}

.btn {
  padding: 15px !important;
  font-family: sans-serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #ffffff !important;
}
